body {
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    position: relative;
    max-width: 560px;
    min-height: 360px;
    background: white;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /*border-radius: 16px 16px 0px 0px;*/
    margin: 8px 0px;
}

@media (min-width: 592px) {
    .container {
        padding: 8px;
    }

    .container {
        width: 592px;
        margin: 0 auto;
    }
    .card {
        margin: 8px;
    }
}


@media (min-width: 1168px) {
    .container {
        width: 1168px;
        margin: 0 auto;
    }
}


.card > p {
    padding-left: 16px;
    padding-right: 16px;
}

.picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
    object-position: center;
}

.gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
    object-position: center;
}

.aspect-16-9 {
    padding: 56.25% 0 0 0;
    position: relative;

}

.vimeo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;

}

.youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 20px;
}

.date {

    margin-top: 16px;
    margin-bottom: 16px;
    color: #333;
    flex-grow: 1;
}

.tags {
    color: #6f7577;
    font-size: .8125rem;
}

.tag {
    text-transform: capitalize;
    transition: color .2s ease-in-out;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}


.tag:after {
    content: ', ';
}

.tag:last-of-type:after {
    content: '';
}


.tag:visited, .tag:link {
    color: #6f7577;
}

.tag:hover {
    color: #548eaa;
}


.tag.active {
    color: #7aa600;
}

.paragraph {
    margin-top: 0px;
}