body {
    font-family: 'Inter', sans-serif;
    background-color: #141414;
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    margin: 0;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background: red;
    padding: 1rem;
    align-items: center;
    background-color: #141414;
}

.bio {
    text-align: center;
}

.profile > img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 16px;
}

.bio > span {
    margin: 0;
    color: #F9F6F0;
    font-size: 1rem;
    font-weight: 800;
}

.bio > h2 {
    margin: 0;
    color: #F9F6F0;
    font-size: 24px;
    font-weight: 600;
    word-wrap: break-word
}

.bio > a, .bio > a:visited, .bio > a:active, .bio > a:hover {
    color: #9BF75D;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    word-wrap: break-word
}

.modes {
    padding: 8px;
}

.mode {
    cursor: pointer;
    padding: 8px;
    text-decoration: none;
}

.mode.active {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .03), 0 1px 6px -1px rgba(0, 0, 0, .02), 0 2px 4px 0 rgba(0, 0, 0, .02);
    color: rgba(0, 0, 0, .88);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    position: relative;
    max-width: 100%;
    min-height: 360px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
}

.paragraph {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgba(249, 246, 240, 0.60);
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word
}

.picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    overflow: hidden;
}

.gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    overflow: hidden;
}

.aspect-16-9 {
    padding: 56.25% 0 0 0;
    position: relative;
}

.vimeo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 16px;
    overflow: hidden;
}

.youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 16px;
    overflow: hidden;
}

.header {
    display: flex;
    margin-bottom: 16px;
}

.date {
    color: #F9F6F0;
    font-size: 24px;
    font-weight: 800;
    flex-grow: 1;
    margin: 0;
}

.footer {
    display: flex;
}

.tags {
    font-size: .8125rem;
}

.tag {
    text-transform: capitalize;
    transition: color .2s ease-in-out;
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    color: #F9F6F0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 32px;
}


.tag:before {
    content: '→ ';
}

.tag:last-of-type:after {
    content: '';
}


.tag:visited, .tag:link {
    color: #F9F6F0;
}

.tag:hover {
    color: #9BF75D;
}


.tag.active {
    color: #9BF75D;
}

.map {
    width: 100%;
    padding: 56.25% 0 0 0;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
}

.gis {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

@media (min-width: calc(850px)) {
    .map {
        padding: 0;
        margin-top: 44px;
        height: 520px;
    }
}

@media (min-width: calc(736px + 736px + 80px)) {
    .map {
        width: calc(736px + 736px + 80px);
    }
}

@media (min-width: calc(736px + 736px + 80px)) {
    .map {
        margin: 0;
        margin-top: 44px;
    }

    .card {
        max-width: 736px;
        margin: 0;
    }

    .container {
        gap: 80px;
        justify-content: flex-start;
    }

    .card:last-of-type {
        margin-bottom: 80px;
    }
}
